* {
    font-family: 'Roboto', sans-serif;
    color:black;
    font-weight:bolder;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/Content/img/08.jpg');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
body .navbar {
    background-color: rgba(26, 150, 245, 0.5);
    color: rgba(0, 0, 0,1);
}
.marginRight {
    margin-left:15%;
}
.marginTop{
    margin-top:15px;
}
.taille {
    height: 400px;
    !important
}
@media screen and (max-width:470px) {
    .marginRight{
        margin-left:0%;
    }
    .marginTop{
        margin-top:15px;
    }
}
@media screen and (min-width:770px) and (max-width: 990px) {
    .marginRight {
        margin-left: 0%;
    }
    .taille {
        height: 450px;
        !important
    }
}

