@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>BoVoyage<br/> 324 Rue des chatons<br/>78015 Paris.</p>
<div>
    @Html.ActionLink("Retour à l'index", "Index")
</div>
