@model IEnumerable<ProjetFinal_UIL.Models.Continent_UIL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



    <select>
        @foreach (var item in Model)
        {
        <option>
            @Html.DisplayFor(modelItem => item.Nom)
        </option>
        }
    </select>
