
@{
    ViewBag.Title = "Paiement";
}
<div class="container"  style="background-color:rgba(255, 255, 255,0.3); border-radius:5px;">
    <h2>Paiement</h2>
   
        <input class="form-control marginTop" type="text" required placeholder="Nom" />
        <input class="form-control marginTop" type="text" required placeholder="Prénom" />
        <input class="form-control marginTop" type="email" required placeholder="Email" />
        <input class="form-control marginTop" type="text" required placeholder="N°CB" />
        <input type="button" class="btn btn-info" valider onclick="alert('Merci, nous transmettons votre commande, vous recevrez un mail sous 48h vous confirmant sa validation');" value="Payer"/>
   
</div>